# ================================================
# GENERAL
# ================================================

# Ignore IDEs
.idea

# Ignore OS files
.DS_Store

# Packages
*.tgz

# Secrets path
.secrets/

# General reports
/report
/reports

# ================================================
# VSCODE
# ================================================

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# ================================================
# NODE
# ================================================

npm-debug.log*

# Dependency directories
node_modules/

# ================================================
# YARN
# ================================================

yarn-debug.log*
yarn-error.log*

/.pnp
.pnp.js

# ================================================
# GOLANG
# ================================================

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### Go Patch ###
/vendor/
/Godeps/
/bin/
/dist/
